/* Universal Styles */

html {
  font-size: 18px;
}

@media only screen and (max-width: 560px) {
  html {
    font-size: 15px;
  }
}

input:focus {
  outline: none;
}

/* Reusable Component - Image Container */

.image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  background: #000;
}

.image-container img {
  width: 100%;
}

/* App Styles */

.search-doctor {
  font-family: 'Work Sans', sans-serif;
}

h1 {
  padding: .66rem 0;
  text-align: center;
  font-family: Poppins, sans-serif;
  font-size: 1.8rem;
  color: #fff;
}

.consult-doctor {
  text-align: left; 
  padding-left: 1rem;
  font-size: 70px;
  font-weight: 700;
  padding-left: 6rem;
}
.consult-doctor span {
  color: var(--clr-primary); 
}
@media screen  and (max-width: 770px ) {
  .consult-doctor {
    font-size: 45px; 
  }
}

@media screen  and (max-width: 530px ) {
  .consult-doctor {
    font-size: 34px; 
  }
}